.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color:#fceae8;
}
.carousel-item{
    padding: 20px 130px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF5898 0%, #FF136F 100%);
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.cat-1, .cat-2, .cat-3{
    padding: 10px 30px;
    border-radius: 10px;
}

.cat-1 {
    background-image: linear-gradient(to left, #fbdd05 8%, #ffa500f5 100%);
}
.cat-2 {
    background-image: linear-gradient(to right, #ec44b1 8%, #e20639f5 100%);
}

.cat-3 {
    background-image: linear-gradient(to right, #fde116 8%, #b2dc0cf5 100%);
}
.categories h1{
    color: #fff;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 6px 10px #bfc4d2;
}
.card-footer{
    background-color: #fff;
    border-top: none;
}
#subscribe{
    height: 300px;
}